<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../../static/css/index.css" />
  </head>
  <body>
      <% include components/top.inc.ejs %>
      <div class="col-xs-9 col-sm-8 content-wrap">
      	<form action="/admin/banners" method="post">
      			<div class="form-group">
								<label for="">标题</label>
								<input type="text" class="form-control width50" id="banner_title" name="banner_title"  placeholder="请输入标题" />
					</div>
						<div class="form-group">
								<label for="">描述</label>
								<textarea type="text" class="form-control width50" id="banner_desc"  name="banner_desc"  placeholder="请输入标题"></textarea>
					</div>
						<div class="form-group">
								<label for="">链接</label>
								<input type="text" class="form-control width50" id="banner_src" name="banner_src"  placeholder="请输入标题" />
					</div> 
					<button class="btn btn-primary" type="submit" id="submit">提交</button>
      	</form>
        <table class="table table-bordered mariginTP10">
            <thead>
                <tr class="active">
                    <td>序号</td>
                    <td>标题</td>
                    <td>描述</td>
                    <td>链接</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0;i<data.length;i++){%>
                 <tr>
                    <td><%= data[i].ID %></td>
                    <td><%= data[i].title %></td>
                    <td><%= data[i].description %></td>
                    <td><%= data[i].href %></td>
                    <td style="width: 100px;"><a onclick="del(this)">删除</a><a onclick="updateData(this)">修改</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
      </div>
       <div class="modal fade" id="updateData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <!--<span aria-hidden="true">&times;</span>-->
                    </button>
                    <h4 class="modal-title">修改数据</h4>
                </div>
                <div class="modal-body clearfix">
                   	<form action="/admin/banners" method="post">
					      			<div class="form-group dipalyTable col-xs-12">
													<label for="">标题</label>
													<input type="text" class="form-control" id="banner_title" name="banner_title"  placeholder="请输入标题" />
										</div>
											<div class="form-group dipalyTable col-xs-12">
													<label for="">描述</label>
													<textarea type="text" class="form-control" id="banner_desc"  name="banner_desc"  placeholder="请输入标题"></textarea>
										</div>
											<div class="form-group dipalyTable col-xs-12">
													<label for="">链接</label>
													<input type="text" class="form-control" id="banner_src" name="banner_src"  placeholder="请输入标题" />
										</div> 
					      	</form>
                </div>
                <div class="modal-footer">
                	 <button type="submit"  class="btn btn-default" data-dismiss="modal" word="Close">确定</button>
                    <!--<button type="button"  class="btn btn-default" data-dismiss="modal" word="Close">关闭</button>-->
                </div>
            </div>
        </div>
    </div>
      <script type="text/javascript" src="../../static/js/jquery.js"></script>
      <script type="text/javascript" src="../../../static/js/bootstrap.min.js" ></script>
      <script>
      jQuery(function ($) {
        var titleVal = $("#banner_title").val();
        var descVal = $("#banner_desc").val();
        var srcVal = $("#banner_src").val();
        // body...
        $("#submit").on('click',function(){
          if(titleVal == "" || descVal == "" || srcVal == ""){
              $("#alertMsg").alert('数据不能为空');
          }
        });
      });
      function updateData(obj) {
        	 $("#updateData").modal('show');
       }
      </script>
  </body>
</html>
