<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../../static/css/index.css" />
  </head>
  <body>
      <% include components/top.inc.ejs %>
      <div class="col-xs-9 col-sm-8 content-wrap">
     			我是首页
      </div>
  </body>
</html>
